body {
    display: flex;
    background-color: rgb(252, 211, 211);
    justify-content: center;
    align-items: center;
    font-family: poppins, sans-serif;
}
#main {
    width: 1000px;
    height: 750px;
    background-color: white;
    display: flex;
    border-radius: 20px;
}
#main1 {
    width: 50%;
    padding: 50px 40px;
}
#main2 {
    width: 50%;
    background-color: rgb(79, 79, 189);
    color: white;
    padding: 60px 40px;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.input {
    color: black;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 2px solid rgb(184, 162, 162);
    background-color: rgb(228, 222, 222);
}
.logo {
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 1px solid #130202dd;
    border-radius: 6px;
    padding: 12px;
    margin: 4px;
    position: relative;
    left: 100px;
}
#firstheading {
    font-size: 46px;
    padding-left: 130px;
    margin-top: 30%;   
}
.firstpera {
    font-size: 22px;
    margin-top: 30px;
    padding-left: 90px;
    margin-bottom: 8px;
}
.secondpera {
    display: block;
    font-size: 20px;
    font-weight: 80px;
}
.button1 {
    width: 50%;
    padding: 12px;
    background-color: rgb(60, 60, 160);
    font-size: 14px;
    border: none;
    border-radius: 8px;
    margin-left: 80px;
    color: white;
}
.secondheading {
   font-size: 50px;
}
.main2pera {
    font-size: 24px;
}
.button2 {
    padding: 12px 30px;
    border: 2px solid white;
    background-color: rgb(79, 79, 189);
    border-radius: 8px;
    width: 140px;
    font-size: 14px;
    color: white;
    position: relative;    
}