body {
    background-color: bisque;
    padding: 30px;

}
#container {
    justify-content: center;
    align-items: center;
}
#header1 {
    display: flex;
    border: 2px solid black;
    border-radius: 6px;
    background-color: rgb(255, 244, 244);
    margin: auto;
    width: 900px;
}
.img {
    width: 80px;
    border-right: 2px solid black;
    padding-top: 20px;
    padding-left: 20px;
}
.h1 {
    color: rgb(13, 13, 71);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: auto;
}
.flex {
    display: flex;
    position: relative;
}
#mainbox1 {
    width: 500px;
    height: 400px;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    margin: 100px;
    box-shadow: -10px 10px;
    position: absolute;
    margin-left: 250px;
}
#mainbox2 {
    width: 500px;
    height: 400px;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    margin: 100px;
    box-shadow: -10px 10px;
    position: absolute;
    top: -40px;
    left: 400px;
}
.header2 {
    display: flex;
    height: 50px;
    border-bottom: 2px solid black;
}
.circle{
    width: 14px;
    height:14px;
    border-radius: 50%;
    background-color: rgb(91, 91, 207);
    margin-right: 5px;
    margin-top: 15px;
    margin-left: 10px;
}
.row1 {
    width: 200px;
    height: 40px;
    background-color: pink;
    border: 2px solid black;
    margin: 20px;
}
.row2 {
    width: 70px;
    height: 40px;
    background-color: pink;
    border: 2px solid black;
}
.row3 {
    width: 110px;
    height: 40px;
    background-color: pink;
    border: 2px solid black;
}
.partition {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}
.row4 {
    width: 200px;
    height: 40px;
    background-color: rgb(122, 100, 247);
    border: 2px solid black;
    margin: 20px;
}
.box1 {
    height: 150px;
    border: 2px solid black;
    background-color: pink;
    margin: 20px;
}
.line {
    border-top: 3px solid black;
    width: 150px;
    margin: 20px;
}
.line5 {
    border-top: 3px solid black;
    width: 100px;
    margin: 20px;
}
.box2 {
    width: 100px;
    height: 80px;
    background-color: rgb(207, 148, 207);
    border: 2px solid black;
}
.box3 {
    width: 150px;
    height: 80px;
    background-color: rgb(207, 148, 207);
    border: 2px solid black;
}
.flex4 {
    display: flex;
    margin: 20px;
    gap: 20px;
}
.flex3 {
    display: flex;
}
