body{
    background-color: white;
}
#container{
    height: 380px;
    background-color: rgb(252, 240, 240);
    border-radius: 20px;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 80px;
}
#logo {
    font-size: 20px;
    font-weight: bold;
    color: rgb(73, 73, 228);
}
li {
    color: gray;
    font-size: 14px;
    list-style-type: none;
    display: inline;
    word-spacing: 20px;
}
span {
    color: rgb(72, 72, 211);
}
#mainbox1 {
    margin-top: 80px;
    width: 50%;
}
#mainbox2 {
    margin-top: 100px;
    width: 50%;
}
.btn1 {
    height: 40px;
    width: 150px;
    border-radius: 6px;
    background-color: blue;
    border: none;
    color: white;
}
.btn2 {
    height: 40px;
    width: 150px;
    border-radius: 6px;
    background-color: rgb(139, 139, 209);
    border: none;
    color: rgb(5, 5, 54);
}
img {
    width: 80%;
}
.box {
    display: flex;
}
