.box{
    height: 200px;
    width: 300px;
    border: 1px solid black;
    position: relative;
    background-color: blueviolet;
}
.innerbox{
    height: 40px;
    width: 80px;
    border: 1px solid black;
    background-color: rgb(6, 103, 187);
    border-radius: 50px;
    position: fixed;
    bottom: 40px;
    right: 50px;
    text-align: center;
    padding-top: 20px;
}

