.box{
  width: 50%;
  background-color: rgb(72, 56, 143);
  color: aliceblue;
  margin: 0px;
  font-size: 28px;
  font-weight: 600;
  line-height: 56px;
}
.box2{
  width: 50%;
  background-color: rgb(72, 56, 143);
}
.main{
 display: flex;
 padding-top: 80px;
}
.img{
  width: 50%;
}
.tags{
  display: flex;
  gap: 70px;
  width: 80px;
  height: 50px;
  padding: 50px;
}
.nav{
  list-style-type: none;
  display: flex;
  gap: 50px;
  text-align: center;
  font-size: 16px;
}
.layout{
  text-align: center;
  display: flex;
  gap: 100px;
  align-items: center;
  background-color: rgb(72, 56, 143);
  color: aliceblue;
  position: fixed;
  width: 99%;
}
.h1{
  padding-left: 100px;
}
.button{
  border-radius: 50px;
  background-color: rgb(137, 192, 192);
  width: 100px;
  font-size: 16px;
  cursor: pointer;
}
.button:hover{
  background-color: blue;
}
.heading{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100px;
  color: blue;
  text-decoration: underline;
}
.abox{
  width: 50%;
  background-color: white;
  justify-content: left;
  padding: 30px;
  font-size: 20px;
}
.bbox{
  width: 50%;
  background-color: white;
  padding: 30px;
  font-size: 20px;
}
.main1{
  display: flex;
}
.button1{
  height: 30px;
  width: 100px;
  margin-top: 20px;
  text-align: center;
  background-color: rgb(92, 206, 206);
  cursor: pointer;
}
.button1:hover{
  background-color: rgb(43, 0, 233);
}
.tick{
 list-style-type: square;
}
.cbox{
  width: 50%;
  background-color: white;
  padding-left: 30px;
}
.dbox{
  width: 50%;
  background-color: white;
}
.clrchange{
  color: rgb(51, 51, 167);
  font-size: 30px;
}
.innerbox1{
  color: rgb(122, 122, 202);
  cursor: pointer;
  font-size: 20px;
  background-color: bisque;
}
.innerbox2{
  color: rgb(122, 122, 202);
  cursor: pointer;
  font-size: 20px;
  background-color: bisque;
}
.innerbox3{
  color: rgb(122, 122, 202);
  cursor: pointer;
  font-size: 20px;
  background-color: bisque;
}
.main2{
  display: flex;
  padding-top: 80px;
}
.img2{
  width: 70%;
  padding-left: 100PX;
}

