.box{
    height: 350px;
    width: 350px;
   /* transform: translate(30px, 50px); */
   /* transform: scale(1.5, 2.5); */
   /* transform: skew(10deg); */
   position: absolute;
}
.box:hover{
    transform: skew(40deg);
    transition: 2s all;
}
.box1{
    background-color: rgb(255, 196, 0);
    /* z-index: 2; */
}
.box2{
    background-color: blueviolet;
    z-index: 1;
}
.box3{
    background-color: rgb(223, 73, 53);
    /* z-index: 1; */
}
